#root, html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    
}

.page {
    height: 100vh;
    background:linear-gradient(rgba(255, 255, 255, 0.195),rgba(60, 60, 60, 0.408)), url('./image/pexels-fox-1172675.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cardd{
    background:linear-gradient(rgba(34, 34, 34, 0.178),rgba(0, 255, 166, 0.322));
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 2%;
    border: 3px solid rgb(252, 252, 252);
    
}
.typoo{
    display: flex;
    align-items: center;
    font-size: 100;
    font-weight: 900;
    height: 600px;
    color: rgb(250, 251, 250);
    font-family: 'Comfortaa', cursive;
}
.but{
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 100px;
    width: 210px;
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 900;
    font-weight: 900;
    background-color: rgba(237, 237, 237, 0);
    border: 3px solid rgb(252, 252, 252);
}



